@import "../../../sass_variables/colors";
@import "../../../sass_variables/widths";

.gymTable {
  background: linear-gradient(to top, #ffffff, rgba(136, 136, 136, 0.35));
  box-shadow: 8px 8px 6px rgba(202, 202, 202, 0.8), 0px 0px 10px #909090;
  margin-bottom: 50px !important;
  z-index: 1;
  border-radius: 4px;
  color: #4c4c4c;
  font-size: 13px;
}

.gymTable__mainHeading {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(to bottom, rgba(53, 0, 0, 0.81), rgb(167, 0, 0));
  border-radius:2px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 14px;
}

.gymTable__td {
  padding: 3*$whitespace 3*$whitespace 3*$whitespace 0 !important;
}

.gymTable__td:first-child {
  padding-left: 3*$whitespace !important;
}

.gymTable__heading {
  border-bottom: 1px solid rgba(80, 0, 0, 0.26);
}

.thumbnail {
  cursor: pointer;
  margin-bottom: 2*$whitespace !important;
}

.thumbnail:nth-child(odd) {
  margin-right: 2*$whitespace;
}
