$white: #FFFFFF;
$black: #000000;
$torch_red: #FF1B1B;
$lonestar: #690000;
$guardsman_red: #BD0000;
$red_berry: #980000;
$temptress: #350000;
$dusty_gray: #9a9a9a;
$neon_carrot: #fd9d3c;
$brown: #8c4900;
$kaitoke_green: #004028;
$persian_green: #00a996;
$alto: #dadada;
