.zoomBounceIn :local {
  animation: zoomBounceIn 1.1s; }

.fadeIn :local {
  animation: fadeIn 2.5s ease-out; }

.fadeInFast :local {
  animation: fadeIn 1s ease-out; }

.zoomInUp :local {
  animation: zoomInUp 1.9s; }

.hide :local {
  animation: hide 1s forwards; }

.slideOutside :local {
  animation: slideOutside 1s forwards; }

.slideInside :local {
  animation: slideInside 0.1s forwards; }

.fadeInUp :local {
  animation: fadeInUp 1s forwards; }

.fadeOutUp :local {
  animation: fadeOutUp 1s forwards; }

.tada :local {
  animation: tada 10s infinite;
  animation-delay: 3s; }

.bounce :local {
  animation: bounce 8s infinite;
  animation-delay: 3s;
  transform-origin: center bottom; }

.slideInDown :local {
  animation: slideInDown 0.6s forwards; }

.unrolled :local {
  animation: unrolled 1s forwards; }

.rolled :local {
  animation: rolled 1s forwards; }

.slideOutUp :local {
  animation: slideOutUp 0.6s forwards; }

.fadeInDown :local {
  animation: fadeInDown 1s forwards; }

.slideInLeft :local {
  animation: slideInLeft 1s forwards; }

.slideInRight :local {
  animation: slideInRight 1s forwards; }

.trainerInLeft :local {
  animation: trainerInLeft 1s forwards; }

.trainerInRight :local {
  animation: trainerInRight 1s forwards; }

.slideInRightSkew :local {
  animation: slideInRightSkew 1s forwards; }

.slideOutLeft :local {
  animation: slideOutLeft 1s forwards; }

.slideOutRight :local {
  animation: slideOutRight 1s forwards; }

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0); } }
@keyframes slideOutLeft {
  from {
    transform: translate3d(100%, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 0, 0); } }
@keyframes slideInRightSkew {
  from {
    transform: translate3d(100%, 0, 0); }
  to {
    transform: translate3d(0, 0, 0), skew(-12deg);
    visibility: visible; } }
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0); }
  to {
    transform: translate3d(0, 0, 0);
    visibility: visible; } }
@keyframes trainerInRight {
  from {
    transform: translate3d(100%, 0, 0); }
  to {
    transform: translate3d(0, 0, 0);
    visibility: visible; } }
@keyframes slideInLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    transform: translate3d(100%, 0, 0);
    visibility: visible; } }
@keyframes trainerInLeft {
  from {
    transform: translate3d(-100%, 0, 0); }
  to {
    transform: translate3d(0, 0, 0);
    visibility: visible; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    z-index: -1; }
  to {
    z-index: 5;
    opacity: 1;
    transform: none; } }
@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0); } }
@keyframes rolled {
  0% {
    padding-bottom: 178px;
    transform: translateY(-100px); }
  100% {
    padding-bottom: 0;
    transform: translateY(0); } }
@keyframes unrolled {
  0% {
    padding-bottom: 0;
    transform: translateY(0); }
  100% {
    padding-bottom: 175px;
    transform: translateY(-100px); } }
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1); }
  1%, 2% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  3%, 5%, 7%, 9% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  4%, 6%, 8% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  10% {
    transform: scale3d(1, 1, 1); }
  to {
    transform: scale3d(1, 1, 1); } }
@keyframes zoomBounceIn {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.1); }
  70% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes slideOutside {
  to {
    position: relative;
    left: 1500px; } }
@keyframes slideInside {
  to {
    position: static;
    left: 0; } }
@keyframes hide {
  from {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
@keyframes fadeOutUp {
  from {
    opacity: 1;
    z-index: 5; }
  to {
    z-index: 0;
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }
@keyframes bounce {
  from, 2%, 5%, 8%, 10% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  4%, 4.3% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  7% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  9% {
    transform: translate3d(0, -4px, 0); } }

/*# sourceMappingURL=animations.css.map */
