@import "../../../../base_scss/all_base_files";

.fu-dashboard {
  padding: 50px 0 0 150px;
  color: $gray;
  .fu-panel {
    padding: 15px;
    background: $concrete;
    border: 1px solid $quill_gray;
    border-radius: 4px;
    color: $gray;
    margin: 0 30px 30px 0;
  }
  .fu-panel__title {
    color: rgba($spectra, 0.67);
    font-weight: 600;
  }
  .fu-list__miniPhoto {
    width: 40px;
    height: auto;
  }
  .fu-list__tableHead {
    border-bottom: 1px solid $quill_gray;
  }
  .fu-list__td {
    vertical-align: baseline;
  }
  .fu-list__tr, .fu-list__th {
    border-bottom: 1px solid $quill_gray;
  }
  .fu-list__tbody {
    color: $silver_chalice;
  }
}
