$white: #FFFFFF;
$black: #000000;
$scooter: #2AC5CD;
$shamrock: #43cb9f;
$clear_day: #f4fffc;
$quill_gray: #DDDDDA;
$gray: #808080;
$silver_chalice: #A1A1A1;
$ghost: #bec3ce;
$red_orange: #FF2D2D;
$torch_red: #FF1B1B;
$concrete: #F3F3F3;
$alto: #D8D8D8;
$de_york: #81c192;
$bay_leaf: #73af83;
$pelorous: #40A3C1;
$teal: #007A80;
$spectra: #31525D;
